// Layout Style

.hero {
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;

  @media (min-height: 820px) {
    min-height: 800px;
  }
  @media (max-width: 1199px) {
    min-height: unset;
    padding-bottom: 40px;
  }
  @media (max-width: 767px) {
    min-height: 100vh;
  }
  position: relative;
  background-image: url(../../assets/img/hero.jpg);
  background-size: cover;
  background-position: right 0 top;
  background-repeat: no-repeat;
  @media (min-width: 1500px) {
    background-position: right 0 top;
    min-height: 720px;
  }

  @media (min-width: 1800px) and (max-width: 2200px) {
    background-position: right 0 top -180px;
  }

  @media (min-width: 2200px) {
    background-position: right 0 top -280px;
    min-height: 800px;
  }

  header {
    position: relative;
    z-index: 4;
    nav {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;

      li {
        a {
          transition: color 0.3s ease;
          &:hover {
            text-decoration: none;
            color: #ff9800;
          }
        }
      }

      * {
        opacity: 0;
      }

      .logo {
        margin-right: 25px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        @media (max-width: 991px) {
          display: none;
        }

        li {
          margin-right: 15px;
          a {
            color: #fff;
          }
        }
      }

      .btn {
        border: 1px solid;
        height: 38px;
        border-radius: 33px;
        font-size: 14px;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
        @media (max-width: 1199px) {
          filter: invert(1);
        }

        img {
          width: 20px;
          margin-right: 5px;
          @media (max-width: 1199px) {
            filter: none;
          }
        }
      }

      .lk {
        width: 30px;
        margin-right: 15px;
        @media (max-width: 1199px) {
          filter: invert(1);
        }
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 650px;
    height: 100%;
    transform: rotate(103deg) scale(1.6);
    left: -60px;
    top: -60px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 34.19%,
      rgba(214, 167, 0, 0.7) 108.18%
    );
    z-index: 0;
    opacity: 0;

    @media (max-width: 1199px) {
      transform: rotate(0deg) scale(2);
      left: 0px;
      width: 100%;
    }

    @media (min-width: 1500px) {
      transform: rotate(103deg) scale(2);
      left: -120px;
    }

    @media (min-width: 1800px) and (max-width: 2199px) {
      transform: rotate(103deg) scale(2.1);
      left: 0px;
    }

    @media (min-width: 2200px) {
      transform: rotate(103deg) scale(2.7);
      left: 0px;
    }
  }

  .hero-group {
    position: relative;
    z-index: 4;
    color: #f5fafd;
    width: 50%;
    padding-top: 90px;
    @media (max-width: 1199px) {
      width: 100%;
      padding-top: 70px;
    }

    @media (max-width: 767px) {
      padding-top: 60px;
      text-align: center;
    }

    * {
      opacity: 0;
    }

    h1 {
      font-size: 38px;
      letter-spacing: -0.5px;
      font-weight: 700;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        font-size: 32px;
      }
      span {
        color: #ff7800;
      }
    }

    p {
    }

    .btn-primary {
      background: #ff7800;
      border-radius: 57px;
      color: #000;
      padding: 15px 30px;
      font-weight: 700;
      border: 0;
      margin-bottom: 25px;
      margin-top: 15px;
      @media (max-width: 767px) {
        width: 100%;
      }
    }

    small {
      display: block;
      width: 90%;
      @media (max-width: 767px) {
        width: 100%;
      }
      font-size: 16px;

      ul {
        @media (max-width: 767px) {
          padding: 5px;
          margin: 0;
          list-style: none;
        }
        li {
          @media (max-width: 767px) {
            border-bottom: 1px solid #807d7d;
            margin-bottom: 10px;
            padding-bottom: 7px;
          }
        }
      }
    }
  }
}

.about {
  * {
    opacity: 0;
  }
  padding: 30px;
  text-align: center;
  font-size: 18px;

  p {
    padding: 15px 70px;
    margin-bottom: 5px;
    @media (max-width: 991px) {
      padding: 0px;
      font-size: 16px;
      margin-bottom: 23px;
    }
  }

  span {
    color: #ff7800;
    font-weight: bold;
  }
}

.intro {
  padding-top: 50px;
  .intro-group {
    display: flex;
    flex-direction: row;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .intro-dsc {
      display: flex;
      flex-grow: 1;
      flex-basis: 0;
      flex-direction: column;

      @media (max-width: 991px) {
        flex-basis: unset;
        flex-grow: unset;
      }

      .title {
        margin-bottom: 20px;
        @media (max-width: 991px) {
          text-align: center;
        }

        h2 {
          font-weight: bold;
          letter-spacing: -1px;
          display: flex;
          align-items: center;
          @media (max-width: 991px) {
            justify-content: center;
          }

          img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
          }
        }

        small {
          font-size: 16px;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: 30px;

        li {
          display: flex;
          align-items: flex-start;
          margin-bottom: 10px;
          color: #02020a;
          letter-spacing: -0.2px;
          flex-direction: row;
          img {
            margin-right: 15px;
            width: 30px;
            height: 30px;
            flex-basis: 0;
          }
        }
      }
    }

    .intro-img {
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      align-items: center;

      img {
        display: none;
        @media (max-width: 991px) {
          display: block;
        }
      }

      video {
        @media (max-width: 991px) {
          display: none;
        }
        display: block;
      }

      @media (max-width: 991px) {
        margin-top: 30px;
        flex-basis: unset;
        flex-grow: unset;
      }

      video,
      img {
        width: 100%;
      }
    }
  }
}

.how {
  background: linear-gradient(
    to bottom,
    rgb(249, 249, 249) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 60px 0;
  margin-top: 60px;
  .how-title {
    margin-bottom: 35px;
    h2 {
      font-weight: bold;
      span {
        color: #ff7800;
      }
    }
  }
  .card-wrapper {
    display: grid;
    margin-top: 30px;
    @media (max-width: 1199px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    .data-card {
      background: #ffffff;
      border: 1px solid #efefef;
      box-sizing: border-box;
      box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .num {
        width: 30px;
        height: 30px;
        background-color: #ff7800;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-radius: 50%;
        margin-bottom: 30px;
      }

      h3 {
        font-weight: bold;
        font-size: 20px;
        letter-spacing: -0.5px;
        margin-top: 20px;
      }
    }
  }
}

.line {
  width: 100px;
  background-color: #ff7800;
  display: block;
  height: 3px;
  margin: auto;
  border-radius: 55px;
  margin-bottom: 10px;
}

.who-is {
  padding: 80px 0;
  // background-image: url(../../assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: #f4f4f4;

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .data-card {
      background: #ffffff;
      border: 1px solid #efefef;
      box-sizing: border-box;
      box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-height: 300px;
      margin-bottom: 15px;
      margin-right: 15px;
      @media (max-width: 767px) {
        margin-right: 0px;
      }
      background-position: center;
      position: relative;
      overflow: hidden;
      justify-content: center;
      transition: transform 0.3s ease-in;
      flex-basis: 0;
      flex-grow: 1;
      min-width: 250px;
      @media (max-width: 767px) {
        min-width: 100%;
      }

      &:hover {
        transform: scale(1.05);
      }

      &:after {
        position: absolute;
        background-color: rgba(4, 3, 1, 0.7294117647058823);
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
      }

      &.civil {
        background-image: url(../../assets/img/civil.jpg);
        background-size: cover;
      }

      &.asset {
        background-image: url(../../assets/img/asset.jpg);
        background-size: cover;
        background-position: right;
      }

      &.env {
        background-image: url(../../assets/img/env.jpg);
        background-size: cover;
      }

      &.inc {
        background-image: url(../../assets/img/inc.jpg);
        background-size: cover;
      }

      .num {
        width: 30px;
        height: 30px;
        background-color: #ff7800;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-radius: 50%;
        margin-bottom: 30px;
      }

      h3 {
        font-weight: bold;
        font-size: 20px;
        letter-spacing: -0.5px;
        margin-top: 20px;
        color: #fff;
        z-index: 4;
      }
    }
  }

  .how-title {
    margin-bottom: 80px;
    h2 {
      font-weight: bold;
      span {
        color: #ff7800;
      }
    }
  }

  img {
    width: 90%;
  }
}

.signup {
  background-color: #040301;
  text-align: center;
  padding: 70px 200px;
  @media (max-width: 991px) {
    padding: 70px 0px;
  }
  .sighup-group {
    * {
      color: #fff;
    }
  }
  .btn {
    background: #ff7800;
    border-radius: 57px;
    color: #000;
    padding: 15px 30px;
    font-weight: 700;
    border: 0;
    margin-bottom: 25px;
    margin-top: 15px;
  }
}

footer {
  padding: 50px 0;
  nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    @media (max-width: 991px) {
      flex-direction: column;
      text-align: center;
    }

    > div {
      @media (max-width: 991px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
      }
    }

    .logo {
      margin-right: 25px;
      @media (max-width: 991px) {
        margin-right: 0;
      }
      img {
        width: 45px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;

      @media (max-width: 991px) {
        flex-direction: column;
        margin-top: 15px;
      }

      li {
        margin-right: 15px;
        a {
          color: #000;
        }
      }
    }

    .btn {
      border: 1px solid;
      height: 38px;
      border-radius: 33px;
      font-size: 14px;
      font-weight: bold;
      padding-left: 20px;
      padding-right: 20px;

      img {
        width: 20px;
        margin-right: 5px;
      }
    }

    .lk {
      width: 30px;
      margin-right: 15px;
    }
  }
}

.loader {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 80px;
  }
}

@media (max-width: 1200px) {
  // .loader {
  //   display: flex !important;
  // }
}

.how-it {
  display: flex;
  align-items: center;
  @media (max-width: 991px) {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .anim {
    @media (max-width: 991px) {
      text-align: center;
    }

    lottie-player {
      @media (max-width: 991px) {
        width: 250px !important;
      }
    }
  }

  .cnt {
    padding: 0px 60px;
    @media (max-width: 991px) {
      padding: 0px 15px;
      text-align: center;
    }

    br {
      @media (max-width: 991px) {
        display: none;
      }
    }
    h2 {
      font-weight: bold;
      letter-spacing: -0.5px;
      font-size: 26px;
      display: flex;
      @media (max-width: 991px) {
        justify-content: center;
      }

      span {
        font-size: 16px;
        border: 2px solid #fc7600;
        width: 30px;
        height: 30px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #fc7600;
        margin-right: 9px;
      }
    }
  }

  &.rev {
    @media (max-width: 991px) {
      flex-direction: column-reverse;
    }
  }
}

.sign {
  .hero-sign {
    overflow: hidden;
    min-height: 100vh;
    width: 100vw;
    padding-bottom: 100px;
    position: relative;
    background-image: url(../../assets/img/hero.jpg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    @media (min-width: 1500px) {
      // background-position: right 0 top -200px;
      // height: 700px;
    }

    header {
      position: relative;
      z-index: 4;
      nav {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        opacity: 1;
        .logo {
          margin-right: 25px;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          align-items: center;
          @media (max-width: 991px) {
            display: none;
          }

          li {
            margin-right: 15px;
            a {
              color: #fff;
            }
          }
        }

        li {
          a {
            transition: color 0.3s ease;
            &:hover {
              text-decoration: none;
              color: #ff9800;
            }
          }
        }

        .btn {
          border: 1px solid;
          height: 38px;
          border-radius: 33px;
          font-size: 14px;
          font-weight: bold;
          padding-left: 20px;
          padding-right: 20px;
          filter: invert(1);

          img {
            width: 20px;
            margin-right: 5px;
            filter: none;
          }
        }

        .lk {
          width: 30px;
          margin-right: 15px;
          filter: invert(1);
        }
      }
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotate(0deg) scale(1.3);
      left: 0px;
      top: -36px;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.8) 34.19%,
        rgba(0, 0, 0, 0.8) 108.18%
      );
      z-index: 0;
      @media (min-width: 1500px) {
        // transform: rotate(103deg) scale(2);
      }
    }

    .hero-group {
      position: relative;
      z-index: 4;
      color: #f5fafd;
      width: 100%;
      padding-top: 110px;
      display: flex;
      @media (max-width: 991px) {
        flex-direction: column;
        padding-top: 60px;
      }

      .cont {
        padding: 30px;
        @media (max-width: 991px) {
          padding: 20px;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 15px;
            flex-direction: row;

            img {
              margin-right: 10px;
              width: 30px;
              height: 30px;
              flex-basis: 0;
            }
          }
        }

        .title {
          margin-bottom: 30px;
          h2 {
            display: flex;
            align-items: center;

            img {
              width: 65px;
            }
          }
        }
      }

      .form {
        padding: 50px;
        background-color: white;
        border-radius: 4px;
        color: #090705;
        @media (max-width: 991px) {
          padding: 30px 20px;
        }
      }

      > div {
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        flex-direction: column;
        @media (max-width: 991px) {
          flex-basis: unset;
          flex-grow: unset;
        }

        h1 {
          font-size: 38px;
          letter-spacing: -0.5px;
          font-weight: 700;
          margin-bottom: 20px;
          span {
            color: #ff7800;
          }
        }

        p {
        }

        .btn-primary {
          background: #ff7800;
          border-radius: 57px;
          color: #000;
          padding: 15px 30px;
          font-weight: 700;
          border: 0;
          margin-bottom: 25px;
          margin-top: 15px;
        }

        small {
          display: block;
          width: 90%;
        }
      }
    }
  }
}

.form-control {
  background: #ffffff;
  border: 1px solid #cecece;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.03);
  border-radius: 4px;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff9800;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.22);
  }
}

.btn-primary {
  &:hover {
    box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.24);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.24);
  }
  &:active {
    color: #000 !important;
    background-color: #ff7800 !important;
    border-color: transparent !important;
  }
  &:active:focus {
    color: #000 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.17) !important;
  }
}

.subs {
  a {
    color: #ff7800;
  }
}

.pricing {
  padding: 60px 0;

  margin-top: 60px;
  padding-bottom: 120px;
  .how-title {
    margin-bottom: 35px;
    h2 {
      font-weight: bold;
      span {
        color: #ff7800;
      }
    }
  }
  .card-wrapper {
    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 0 60px;
    @media (max-width: 991px) {
      padding: 0;
      grid-template-columns: 1fr;
    }
    .data-card {
      background: #ffffff;
      border: 1px solid #e2e2e2;
      box-sizing: border-box;
      box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      padding: 60px;
      @media (max-width: 991px) {
        margin-bottom: 30px;
        padding: 40px;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      transition: all 0.3s ease-in;

      &:hover {
        transform: scale(1.05);
        z-index: 2;
        border: 1px solid #ffc107;
        box-shadow: 0px 14px 34px rgba(255, 120, 0, 0.11);
      }

      .num {
        width: 110px;
        height: 30px;
        background-color: #202429;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-radius: 34px;
        margin-bottom: 30px;
        color: white;
        position: absolute;
        top: -15px;
      }

      h3 {
        font-weight: bold;
        font-size: 30px;
        letter-spacing: -0.5px;
        margin-top: 20px;
        margin-bottom: 30px;

        span {
          font-size: 14px;
          color: #737578;
          font-weight: normal;
        }
      }

      ul {
        padding: 0;
        list-style: none;
        text-align: left;
        font-size: 14px;
        min-height: 170px;
        li {
          margin-bottom: 10px;
          display: flex;
          align-items: flex-start;

          img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            flex-basis: 0;
          }
        }
      }

      .btn-primary {
        background: #ff7800;
        border-radius: 57px;
        color: #000;
        padding: 10px 30px;
        font-weight: 700;
        border: 0;
        margin-bottom: 25px;
        margin-top: 15px;
      }
    }
  }
}

.ab {
  h2 {
    font-weight: bold;
  }

  .line {
    float: left;
  }
}

.conta {
  .title {
    h2 {
      font-weight: bold;
      letter-spacing: -1px;
      text-transform: capitalize;

      img {
        width: 40px !important;
        margin-right: 15px;

        @media (max-width: 991px) {
          display: none;
        }
      }
    }
  }

  h4 {
    letter-spacing: -0.5px;
    font-size: 20px;
    margin-bottom: 30px;
  }

  p {
    img {
      width: 20px;
      margin-right: 15px;
    }
  }
}

.trail {
  width: 90%;
  @media (max-width: 991px) {
    display: none;
  }
}

footer {
  padding: 60px 0;
  padding-bottom: 0;

  div.cp {
    background-color: #dadada;
    text-align: center;
    padding: 10px;
    margin-top: 60px;
    font-size: 14px;
  }
  a {
    color: #040301;
    text-decoration: none;
    background-color: transparent;
    margin-left: 14px;

    &:hover {
      text-decoration: none;
      color: #040301;
    }
  }

  .sec {
    width: 60px;
    margin-left: 15px;
    @media (max-width: 991px) {
      margin-left: 0px;
      margin-top: 10px;
    }
  }
}

.mobile-menu {
  background-color: #040301;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
}

.mobile-menu .nav-group-mo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding-top: 30%;
}

.mobile-menu .nav-group-mo a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  line-height: 51px;
  font-weight: bold;
}

.contatcs a {
  @media (max-width: 991px) {
    display: none;
  }
}

.menu {
  filter: invert(1);
  padding: 5px;
  width: 40px;
  @media (min-width: 992px) {
    display: none;
  }
}

.closed {
  position: absolute;
  top: 13px;
  right: 17px;
  cursor: pointer;
  filter: invert(1);
}

.zuora {
  display: block;
  z-index: 5;
  position: relative;
  top: 47px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  bottom: 0;

  iframe {
    background-color: #fff !important;
    vertical-align: bottom;
    z-index: 9999;
    padding: 0px !important;
    border: 0 !important;
    border-radius: 5px !important;
    width: 50%;
    margin: auto !important;
    @media (max-width: 991px) {
      width: 90%;
    }
  }
}

@media (max-width: 360px) {
  .g-recaptcha iframe {
    transform: scale(0.8);
    transform-origin: left;
  }
}
